{% extends 'layout/base.html' %}

{% block contenido %}
    <section id="informacion_quienes_somos">
        <h1 id="subtitulo">Quienes somos</h1>
        <p>Bienvenidos a ClimateEye, donde la innovación y la seguridad convergen. Fundada en agosto de 2023, ClimateEye S.L. se ha consolidado como líder en la industria, ofreciendo soluciones avanzadas de monitoreo ambiental y videovigilancia.</p>

        <p><strong>Nuestra Dirección:</strong> Calle Carpa Nº8 Bajo A, 18015, Granada, España</p>
        <p><strong>Teléfono de Contacto:</strong> 691054091</p>
        <p><strong>Correo Electrónico:</strong> climateeye@gmail.com</p>
        <p><strong>Fecha de Fundación:</strong> Martes, 22 de agosto de 2023</p>

        <p><strong>Fundadora y desarrolladora del Sitio Web:</strong> Cristina María Crespo Arco</p>

        <p>En ClimateEye, nuestro compromiso es brindar soluciones tecnológicas que impacten la seguridad y eficiencia de su entorno. Con una especialización en sistemas de videovigilancia con control de temperatura y humedad, ofrecemos una aplicación web de vanguardia que transforma la manera en que protegemos y optimizamos nuestros espacios.</p>

        <p>Nuestro enfoque integral abarca tanto la seguridad como la comodidad. Mediante una combinación de imágenes en tiempo real y mediciones precisas, nuestro sistema permite una supervisión completa de su entorno. Nos enorgullece ser una empresa que impulsa la innovación y la tecnología hacia el futuro.</p>

        <p>Agradecemos su confianza en ClimateEye y le invitamos a ser parte de nuestra misión de crear un mundo más seguro y conectado. ¡Bienvenidos a la revolución del monitoreo ambiental!</p>

        <p><em>Con gratitud,</em></p>
        <p><em>El Equipo de ClimateEye S.L.</em></p>
    </section>
{% endblock %}